<div class="row vh-100">
    <div class="col-12 m-0 p-0">
        <div class="w-100 h-100 bg-secondary">
            <div class="row h-100 m-0">
                <div class="col-8 mx-auto my-auto">
                    <div class="p-5 border border-light border-3 rounded">
                        <h2 class="mb-3 fw-bold text-center">PRODUCTS LIST</h2>
                        <div style="max-height: 300px; overflow: auto;">
                            <%if (data.length > 0){ %>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Name</th>
                                            <th scope="col" class="text-center">Price</th>
                                            <th scope="col" class="text-center">Thumbnail</th>
                                        </tr>
                                    </thead>
                                    <tbody style="max-height: 100px;">
                                        <% data.forEach(function(product) {%>
                                            <tr>
                                                <td class="text-center"><%= product.title %></td>
                                                <td class="text-center"><%= product.price %></td>
                                                <td class="text-center"><img style="height: 30px;" src=<%= product.thumbnail %>></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            <%}else {%>
                                <div class="bg-warning p-4 my-2", style="--bs-bg-opacity: .5;">
                                    <p class="p-0 m-0"> No products found <i class="fa-solid fa-face-frown ms-2"></i></p>
                                </div>
                            <% } %>
                        </div>
                        <a href="/" class="btn btn-success d-block w-100 mt-2">Add<i class="ms-2 fa fa-light fa-circle-plus"></i></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>