div(class="row vh-100")
    div(class="col-12 m-0 p-0")
        div(class="w-100 h-100 bg-secondary")
            div(class="row h-100 m-0")
                div(class="col-8 mx-auto my-auto")
                    div(class="p-5 border border-light border-3 rounded")
                        h2(class="mb-3 fw-bold text-center") ADD NEW PRODUCTS
                        form(id="addForm", action="/productos", method="post")
                            div(class="mb-2")
                                label(for="title", class="form-label mb-0 text-white") Title
                                input(type="text", class="form-control", id="title", name="title", aria-describedby="titleHelp")
                            div(class="mb-2")
                                label(for="price", class="form-label mb-0 text-white") Price
                                input(type="number", step="0.01", class="form-control", id="price", name="price", aria-describedby="priceHelp")
                            div(class="mb-3")
                                label(for="thumbnail", class="form-label mb-0 text-white") Thumbnail URL
                                input(type="text", class="form-control", id="thumbnail", name="thumbnail", aria-describedby="thumbnailHelp")
                            if error
                                div(id="error-alert", class="bg-danger p-4 my-2", style="--bs-bg-opacity: .5;")= error
                            button(type="submit", id="add", class="btn btn-success d-block w-100") Add
                                i(class="ms-2 fa fa-light fa-circle-plus")
                            a(href="/productos", class="btn btn-primary d-block w-100 mt-1") View All
        